#kaocha/v1
{:tests [{:type                     :kaocha.type/cucumber
           :id                       :dev-stack
           :kaocha/test-paths        ["test"]
           :cucumber/glue-paths      ["test"]}]}
